root = true

# =========================================================

# Global

# =========================================================

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# =========================================================

# Markdown

# =========================================================

[*.md]
trim_trailing_whitespace = false
max_line_length = off

# =========================================================

# Java

# =========================================================

[*.java]
indent_style = space
indent_size = 4

# =========================================================

# JSP

# =========================================================

[*.jsp]
indent_style = space
indent_size = 4

# =========================================================

# HTML

# =========================================================

[*.html]
indent_style = space
indent_size = 2

# =========================================================

# CSS

# =========================================================

[*.css]
indent_style = space
indent_size = 2

# =========================================================

# JavaScript

# =========================================================

[*.js]
indent_style = space
indent_size = 2

# =========================================================

# YAML

# =========================================================

[*.{yml,yaml}]
indent_style = space
indent_size = 2

# =========================================================

# XML

# =========================================================

[*.xml]
indent_style = space
indent_size = 4

# =========================================================

# Properties

# =========================================================

[*.properties]
indent_style = space
indent_size = 2

# =========================================================

# SQL

# =========================================================

[*.sql]
indent_style = space
indent_size = 4

# =========================================================

# Shell / PowerShell

# =========================================================

[*.{sh,ps1}]
indent_style = space
indent_size = 4

# =========================================================

# Windows Batch

# =========================================================

[*.bat]
end_of_line = crlf
